<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="https://cdn.jsdelivr.net/gh/indrahsan/assets-commit/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="https://cdn.jsdelivr.net/gh/indrahsan/assets-commit/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title th:utext="${title}"/>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" type="text/css" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/indrahsan/assets-commit/css/bootstrap.min.css" />
    <!--  Material Dashboard CSS    -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/indrahsan/assets-commit/css/material-dashboard.css" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/indrahsan/assets-commit/css/demo.css" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
</head>
<body>
<div class="wrapper">
    <div class="sidebar" data-active-color="rose" data-background-color="black" data-image="https://cdn.jsdelivr.net/gh/indrahsan/assets-commit/img/sidebar-1.jpg">
        <div class="logo">
            <a th:href="${url}" class="simple-text">
                Dashboard Commit
            </a>
        </div>
        <div class="logo logo-mini">
            <a href="#" class="simple-text">
                DC
            </a>
        </div>
        <div class="sidebar-wrapper">
            <div class="user">
                <div class="photo">
                    <img src="https://cdn.jsdelivr.net/gh/indrahsan/assets-commit/img/LOGO.png" />
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                        Admin
                        <b class="caret"></b>
                    </a>
                    <div class="collapse" id="collapseExample" aria-expanded="true">
                        <ul class="nav">
                            <li>
                                <a href="${url}+'/logout'">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav">
                <li>
                    <a data-toggle="collapse" href="#formsExamples" aria-expanded="true" class="">
                        <i class="material-icons">content_paste</i>
                        <p>Report
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse in" id="formsExamples" aria-expanded="true">
                        <ul class="nav">
                            <li>
                            <li>
                                <a th:href="${url}+'/report/post'">Report Post</a>
                            </li>
                            <li>
                                <a th:href="${url}+'/report/comment'">Report Comment</a>
                            </li>
                            <li class="active">
                                <a th:href="${url}+'/report/user'">Report User</a>
                            </li>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a th:href="${url}+'/simpler-payment'">
                        <i class="material-icons">payment</i>
                        <p>Simpler Payment</p>
                    </a>
                </li>
                <li>
                    <a th:href="${url}+'/verify-user'">
                        <i class="material-icons">assignment_ind</i>
                        <p>Verify User</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-minimize">
                    <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
                        <i class="material-icons visible-on-sidebar-regular">more_vert</i>
                        <i class="material-icons visible-on-sidebar-mini">view_list</i>
                    </button>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"> Report User </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="separator hidden-lg hidden-md"></li>
                        <li>
                            <a th:href="${url}+'/logout'" class="dropdown-toggle" onclick="if(!confirm('Apakah Anda ingin keluar?')){ return false; }">
                                <i class="material-icons">power_settings_new</i>
                                <p class="hidden-lg hidden-md">Logout</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div th:if="${message}" data-notify="container" th:class="${alerto} + ' col-xs-11 col-sm-4 alert alert-with-icon animated fadeInDown'" role="alert" data-notify-position="top-center" style="display: inline-block; margin: 15px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031; top: 20px; left: 0px; right: 0px;">
                    <button type="button" aria-hidden="true" class="close" data-notify="dismiss" style="position: absolute; right: 10px; top: 50%; margin-top: -9px; z-index: 1033;">
                        <i class="material-icons">close</i>
                    </button>
                    <i data-notify="icon" class="material-icons">notifications</i>
                    <span data-notify="title"></span>
                    <span data-notify="message">[[${message}]]</span>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="card">
                            <div class="card-header card-header-icon" data-background-color="rose">
                                <i class="material-icons">assignment</i>
                            </div>
                            <h4 class="card-title">Detail Report User</h4>
                            <div class="card-content">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>User</th>
                                            <th th:utext="${reportusers.otherUser.fullname}"></th>
                                        </tr>
                                        <tr>
                                            <th>Report By</th>
                                            <th th:utext="${reportusers.id_user.fullname}"></th>
                                        </tr>
                                        <tr>
                                            <th>Reason</th>
                                            <th th:utext="${reportusers.reason}"></th>
                                        </tr>
                                        <tr>
                                            <th>Date Created</th>
                                            <th th:utext="${reportusers.created_date}"></th>
                                        </tr>
                                        </thead>
                                    </table>
                                    <a th:href="${url}+'/report/user/action/'+${reportusers.otherUser.id}" class="dropdown-toggle" onclick="if(!confirm('Apakah Anda ingin memblokir user?')){ return false; }">
                                        <div class="form-footer text-right">
                                            <button class="btn btn-info btn-danger">Block User</button>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<!--   Core JS Files   -->
<script src="https://cdn.jsdelivr.net/gh/indrahsan/assets-commit/js/jquery-3.1.1.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/gh/indrahsan/assets-commit/js/jquery-ui.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/gh/indrahsan/assets-commit/js/bootstrap.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/gh/indrahsan/assets-commit/js/material.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/gh/indrahsan/assets-commit/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
<!-- Forms Validations Plugin -->
<script src="https://cdn.jsdelivr.net/gh/indrahsan/assets-commit/js/jquery.validate.min.js"></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="https://cdn.jsdelivr.net/gh/indrahsan/assets-commit/js/moment.min.js"></script>
<!--  Charts Plugin -->
<script src="https://cdn.jsdelivr.net/gh/indrahsan/assets-commit/js/chartist.min.js"></script>
<!--  Plugin for the Wizard -->
<script src="https://cdn.jsdelivr.net/gh/indrahsan/assets-commit/js/jquery.bootstrap-wizard.js"></script>
<!--  Notifications Plugin    -->
<script src="https://cdn.jsdelivr.net/gh/indrahsan/assets-commit/js/bootstrap-notify.js"></script>
<!-- DateTimePicker Plugin -->
<script src="https://cdn.jsdelivr.net/gh/indrahsan/assets-commit/js/bootstrap-datetimepicker.js"></script>
<!-- Vector Map plugin -->
<script src="https://cdn.jsdelivr.net/gh/indrahsan/assets-commit/js/jquery-jvectormap.js"></script>
<!-- Sliders Plugin -->
<script src="https://cdn.jsdelivr.net/gh/indrahsan/assets-commit/js/nouislider.min.js"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js"></script>
<!-- Select Plugin -->
<script src="https://cdn.jsdelivr.net/gh/indrahsan/assets-commit/js/jquery.select-bootstrap.js"></script>
<!--  DataTables.net Plugin    -->
<script src="https://cdn.jsdelivr.net/gh/indrahsan/assets-commit/js/jquery.datatables.js"></script>
<!-- Sweet Alert 2 plugin -->
<script src="https://cdn.jsdelivr.net/gh/indrahsan/assets-commit/js/sweetalert2.js"></script>
<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="https://cdn.jsdelivr.net/gh/indrahsan/assets-commit/js/jasny-bootstrap.min.js"></script>
<!--  Full Calendar Plugin    -->
<script src="https://cdn.jsdelivr.net/gh/indrahsan/assets-commit/js/fullcalendar.min.js"></script>
<!-- TagsInput Plugin -->
<script src="https://cdn.jsdelivr.net/gh/indrahsan/assets-commit/js/jquery.tagsinput.js"></script>
<!-- Material Dashboard javascript methods -->
<script src="https://cdn.jsdelivr.net/gh/indrahsan/assets-commit/js/material-dashboard.js"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="https://cdn.jsdelivr.net/gh/indrahsan/assets-commit/js/demo.js"></script>
</html>